<div class="content">
  <h2><span class="yellow first-line">You have offered {{tickets.length}} tickets</h2></span>
  <br>

  <div class="available-tickets">
    {{#each tickets}}
    <div class="ticket">
      <div class="col-1 ">
        <p class="m-0 p-0">{{zone}}</p>
      </div>
      <div class="col-8 ">
        <p class="m-0 p-0"> <span class="hide-mobile">from: </span>{{availableFrom}}</p>
        <p class="m-0 p-0"> <span class="hide-mobile">until: </span>{{availableUntil}}</p>
      </div>
      <div class="col-3 ">
        <a class="m-0 p-0" href="/profile/tickets/{{_id}}/delete">Delete</a>
      </div>
    </div>
    {{/each}}
  </div>



  <a href="/addTicket">Offer another ticket</a>
</div>