<h2>Your available tickets</h2>
<br>
{{#each tickets}}
<h4>Ticket number: {{ticketId}}</h4>
<p>Available from: {{availableFrom}}</p>
<p>Available until: {{availableUntil}}</p>
<p>Zone: {{zone}}</p>
<p>Owner: {{owner.username}}</p>
{{/each}}

<a href="/addTicket">Offer another ticket</a>